* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.block-center {
    padding: 10px 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    height: 100vh;
    background-color: #f7f7f7;
}

.info {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.label {
    font-size: 24px;
    color: #666;
    margin-bottom: 10px;
}

.email {
    font-size: 32px;
    color: #333;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
