.center {
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    height: 100vh;
}

.info {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.label {
    font-size: 24px;
    color: #666;
    margin-bottom: 10px;
}

.email {
    font-size: 32px;
    color: #333;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
